.primary{
    font-display: rgb(188, 42, 26);
    font-size: 20px;
}

.foot_bar{
    background-color: pink;
}

.font1 {
    font-size: large;
    
}
.font{
    justify-content: space-between;
}
.font2 {
    font-size: large;
    
}
.font3 {
    font-size: 20px;
}

.head {
    margin-left: 200px;


}

.img-head {
    width:10px;
    height: 10%;
}

.fStyle{
    margin-left: 1300px;
}

.two {
    margin-top: 20px;
}
.three {
    margin-top: 20px;
}
.four {
    margin-top: 20px;
}
.five {
    margin-top: 20px;
}
.wholeRange{
    margin-top: 80px;
    margin-bottom: 90px;
    margin-left: 240px;
    margin-right: 240px;
}

.h1{
    margin-left: 40px;
}
.h3{
    margin-left: 160px;
}
.p{
    margin-left: 160px;
}
.sushena_health{
    font-size: 32px;
    color: rgb(249, 126, 147);
}
.h4{
    margin-left: 900px;
    display: inline;
}
.thank {
    margin-left: 450px;
}

.bod{
    margin-left: 800px;
}
.front{
    margin-top: 70px;
}

