<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Range</title>
</head>
<body>
<h3> Lactating Mothers </h3>
<p>A human milk bank, breast milk bank or lactarium is a service that collects, screens, processes, and dispenses by prescription human milk
donated by nursing mothers who are not biologically related to the recipient infant (Usually preterm babies).</p>
<p>Donate Range </p>
<form action = '/pre_range' method = "POST">
    <input type="radio" name="range" id = "1" value="200" style = "margin-bottom: 20px" checked/>
    <label for="1"> 1 Day - Rs 200</label><br>
          <input type="radio" name="range" id="2" value="400" style = "margin-bottom: 20px" /><label for="2"> 2 Days - Rs 400</label><br>
          <input type="radio" name="range" id = "3" value="1400" style = "margin-bottom: 20px" /><label for = "3" >1 Week - Rs 1400</label><br>
          <input type="radio" name="range" id = "4" value="2800" style = "margin-bottom: 20px" /><label for = "4">2 Weeks - Rs 2800</label><br>
          <input type="radio" name="range" id ="5" value="6000" style = "margin-bottom: 20px"/><label for = "5">1 Month - Rs 6000</label> <br>
          <input type = "submit" name = "Submit">

        </form>
</body>
</html>