<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table> 
    <tr>
        <td>Total Donations</td>
        <td>{{workingDetails}}</td>
    </tr>
    </table>
<table>
    <tr>
<td>Total Number of people donated</td>
<td>{{all_details}}</td>


</tr>
</table> 
<table>
</table>
<tr>
    <td>Number of people donated today </td>
    <td> {{all_details_date}}</td>
</tr>
</table>
<table>
    <tr>
        <td>For Preterm Babies</td>
        <td>{{workingDetailsPreterm}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>For Lactating Mothers </td>
        <td>{{workingDetailsLactating}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>For Both </td>
        <td>{{workingDetailsBoth}}</td>
    </tr>
</table>

</body>
</html>